<launch>

  <arg name="robot_namespace"/>
  <arg name="local_x"/>
  <arg name="local_y"/>
  <arg name="local_yaw"/>

  <group ns="$(arg robot_namespace)">
    <param name="tf_prefix" value="$(arg robot_namespace)" />
    <!-- Spawn a robot into Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find wpr_simulation)/models/wpb_home.model -x $(arg local_x) -y $(arg local_y) -z 0 -Y $(arg local_yaw) -urdf -model $(arg robot_namespace)" />
    <!-- RViz and TF tree -->
    <arg name="model" default="$(find wpr_simulation)/models/wpb_home.model"/>
    <arg name="rvizconfig" default="$(find wpr_simulation)/rviz/$(arg robot_namespace).rviz" />
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"  />
  </group>

</launch>