<launch>
  
  <arg name="model" default="$(find wpr1_bringup)/urdf/wpr1.urdf"/>
  <arg name="gui" default="false" />
  <arg name="rvizconfig" default="$(find wpr_simulation)/rviz/sensor.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>